:root {
    background-color: burlywood;
}

.spanElement {
    color: darkblue;
}

.recipeHeader {
    background-color: darkblue;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}